<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>BookingApp</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>WelcomePage.html</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>Faces Servlet</servlet-name>
    <servlet-class>javax.faces.webapp.FacesServlet</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>Faces Servlet</servlet-name>
    <url-pattern>/faces/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>WelcomeInsertServlet</servlet-name>
    <servlet-class>ServLets.WelcomeInsertServlet</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>WelcomeInsertServlet</servlet-name>
    <url-pattern>/WelcomeInsertServlet/</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>InputAptServlet</servlet-name>
    <servlet-class>ServLets.InputAptServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InputAptServlet</servlet-name>
    <url-pattern>/InputAptServlet/</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>RegisterUser</servlet-name>
    <servlet-class>ServLets.RegisterUser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterUser</servlet-name>
    <url-pattern>/RegisterUser/</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AdminHandle</servlet-name>
    <servlet-class>ServLets.AdminHandle</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminHandle</servlet-name>
    <url-pattern>/admin_handle.html</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>ServLets.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet/</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CheckLoggedUser</servlet-name>
    <servlet-class>ServLets.CheckLoggedUser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CheckLoggedUser</servlet-name>
    <url-pattern>/CheckLoggedUser/</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>LogoutServlet</servlet-name>
    <servlet-class>ServLets.LogoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutServlet</servlet-name>
    <url-pattern>/LogoutServlet/</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UpdateProfileServlet</servlet-name>
    <servlet-class>ServLets.UpdateProfileServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateProfileServlet</servlet-name>
    <url-pattern>/UpdateProfileServlet/</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ApproveHost</servlet-name>
    <servlet-class>ServLets.ApproveHost</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ApproveHost</servlet-name>
    <url-pattern>/ApproveHost/</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>PopulateAdmin</servlet-name>
    <servlet-class>ServLets.PopulateAdmin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PopulateAdmin</servlet-name>
    <url-pattern>/PopulateAdmin/</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>PopulateChangeProfile</servlet-name>
    <servlet-class>ServLets.PopulateChangeProfile</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PopulateChangeProfile</servlet-name>
    <url-pattern>/PopulateChangeProfile/</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>PopulateProfile</servlet-name>
    <servlet-class>ServLets.PopulateProfile</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PopulateProfile</servlet-name>
    <url-pattern>/PopulateProfile/</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>PopulateUserApprServlet</servlet-name>
    <servlet-class>ServLets.PopulateUserApprServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PopulateUserApprServlet</servlet-name>
    <url-pattern>/PopulateUserApprServlet/</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>SendDataPopulate</servlet-name>
    <servlet-class>ServLets.SendDataPopulate</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SendDataPopulate</servlet-name>
    <url-pattern>/SendDataPopulate/</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UnapproveHost</servlet-name>
    <servlet-class>ServLets.UnapproveHost</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UnapproveHost</servlet-name>
    <url-pattern>/UnapproveHost/</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ChooseUserServlet</servlet-name>
    <servlet-class>ServLets.ChooseUserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ChooseUserServlet</servlet-name>
    <url-pattern>/ChooseUserServlet/</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ExportData</servlet-name>
    <servlet-class>ServLets.ExportData</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ExportData</servlet-name>
    <url-pattern>/ExportData/</url-pattern>
  </servlet-mapping>
</web-app>