.row {
    display: table;
}

[class*="col-"] {
    float: none;
    display: table-cell;
    vertical-align: top;
}

.myList{
	background-color: #f5f5dc;
}

#ContainerList{
	background-color:	#d9d9d9;
	border-radius: 25px;
	margin-left:6%;
	padding:5%;
}


#filters{
	width:25%;
	border-right: thick double #4682B4;
	float:left;
}

#results{
	width:75%;
	float:right;
}


.pagination {
    display: inline-block;
}

.pagination a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
}

.pagination a.active {
    background-color: #4682B4;
    color: white;
    border-radius: 5px;
}

.pagination a:hover:not(.active) {
    background-color: #ddd;
    border-radius: 5px;
}

#image{
	width:35%;
	float:left;
	margin-right:5%;
}

#details{
	width:60%;
	float:right;
}

.table-hover tbody tr:hover td {
    background: #4682B4;
}

.table-hover tbody tr:hover th {
    background: #ADD8E6;
}

.table-hover td {
   width:70%;
}


#cont{

	box-shadow: 0 0 30px black;
	margin: 100px;
	min-height: 300px;
	min-width: 300px;
	width: auto;
	height: auto;
	text-size: auto;
	background-color: #e6e6e6;
	padding:50px;
	border: solid 3px #4682B4;
	border-radius: 5px;
}

#aptLink{
	margin-bottom:10%;
	margin-top:-2%;
}


#rules{
	margin-top:5%;
}

#transport{
	margin-top:7%;
	margin-bottom:5%;
}

#map{
	margin-top:5%;
	margin-bottom:5%;
}

#gallery{
	margin-top:5%;
	margin-bottom:7%;
}

#photosHost td{
	margin-left:5%;
}

#photosHost tr{
	margin-top:5%;
	
}

#photosHost{
	margin-bottom:10%;
}

.table > tbody > tr > td {
     vertical-align: middle;
}

#accountTitle{
	margin-left: 100px;
	margin-top: 30px;
	color: white;
	font-family: Garamond;
	text-shadow: #000 0px 0px 4px,   #000 0px 0px 4px,   #000 0px 0px 4px,
             #000 0px 0px 4px,   #000 0px 0px 4px,   #000 0px 0px 4px;
}

#navigation_bar{
	position: absolute;
	margin-left: 100px;
	margin-top: 52px;
}

.nav-tabs > li > a:hover{
  background-color: #4682B4 !important;
  border: medium none;
  color: #fff;
}

.nav-tabs > li > a {
  background-color: #ADD8E6 !important;
  border: medium none;
  color: #fff;
}

.nav-tabs > li > a:focus {
  background-color: #4682B4 !important;
  border: medium none;
  color: #fff;
}

.nav-tabs > li > a:active {
  background-color: #4682B4 !important;
  border: medium none;
  color: #fff;
}

.nav-tabs > li > #active {
  background-color: #4682B4 !important;
}







