#input-profile{
	box-shadow: 0 0 30px black;
	margin: 100px;
	min-height: 300px;
	min-width: 300px;
	width: auto;
	height: auto;
	text-size: auto;
	background-color: #e6e6e6;
	padding: 20px;
	border: solid 3px #4682B4;
	border-radius: 5px;
}

#navigation_bar{
	position: absolute;
	margin-left: 100px;
	margin-top: 52px;
}

.nav-tabs > li > a:hover{
  background-color: #4682B4 !important;
  border: medium none;
  color: #fff;
}

.nav-tabs > li > a {
  background-color: #ADD8E6 !important;
  border: medium none;
  color: #fff;
}

.nav-tabs > li > a:focus {
  background-color: #4682B4 !important;
  border: medium none;
  color: #fff;
}

.nav-tabs > li > a:active {
  background-color: #4682B4 !important;
  border: medium none;
  color: #fff;
}

#accountTitle{
	margin-left: 100px;
	margin-top: 30px;
	color: white;
	font-family: Garamond;
	text-shadow: #000 0px 0px 4px,   #000 0px 0px 4px,   #000 0px 0px 4px,
             #000 0px 0px 4px,   #000 0px 0px 4px,   #000 0px 0px 4px;
}

.sectionDiv{
	background-color: white;
	padding-left: 20px;
	padding-right: 20px;
	padding-bottom: 20px;
	border-radius: 10px;
	box-shadow: inset 0 -20px 20px -20px #000000;
}

.img-responsive{
	margin-top:20px;
}

.badge{
	background: white;
	color: #4682B4;
}

hr{
	padding: 0px;
    margin: 0px;  
    background-color: #e6e6e6;
    border-color: #e6e6e6;
}

#btn_image{
	background-color: white;
	color: black;
	position:absolute;
	margin-top: -35px;
	border-radius: 25px;
}

.nav-tabs > li > #active {
  background-color: #4682B4 !important;
}

