#input-profile{
	box-shadow: 0 0 30px black;
	margin: 100px;
	min-height: 300px;
	min-width: 300px;
	width: auto;
	height: auto;
	text-size: auto;
	background-color: #e6e6e6;
	padding: 50px;
	border: solid 3px #4682B4;
	border-radius: 3px;
}

#navigation_bar{
	position: absolute;
	margin-left: 100px;
	margin-top: 52px;
}

.nav-tabs > li > a:hover{
  background-color: #4682B4 !important;
  border: medium none;
  color: #fff;
}

.nav-tabs > li > a {
  background-color: #ADD8E6 !important;
  border: medium none;
  color: #fff;
}

.nav-tabs > li > a:focus {
  background-color: #4682B4 !important;
  border: medium none;
  color: #fff;
}

.nav-tabs > li > a:active {
  background-color: #4682B4 !important;
  border: medium none;
  color: #fff;
}

#accountTitle{
	margin-left: 100px;
	margin-top: 30px;
	color: white;
	text-shadow: #000 0px 0px 4px,   #000 0px 0px 4px,   #000 0px 0px 4px,
             #000 0px 0px 4px,   #000 0px 0px 4px,   #000 0px 0px 4px;
}