body {
    background-color: #ADD8E6;
    overflow-x: hidden;
    height: 100%;
}

#header {
    background-color: #4682B4;
    height:200px;
    width: 100%;
}

#container{
	overflow-y: auto;
	width: 100%;
	background-image: url('../Images/background-image.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border: solid;
    position:absolute;
    top: 200px;
    bottom: 100px;
    left:0px;
    right:0px;
}

#footer {
    background-color: #4682B4;
    margin-bottom: 0px;
    bottom:0;
    position: absolute;
    float:bottom;
    height:100px;
    width: 100%;
    text-align: center;
    border: solid;
}

#logo {
	border: solid;
	align: left;
	height: 200px;
	width:	200px;
    color: red;
    margin-left: 20px; 
    background-image: url('../Images/logos/logo.png');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

#logo:hover{
	background-image: url('../Images/logos/logo_hover.png');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}


#register_login {
	
	border: solid;
	align: right;
	height: 100px;
	width:	150px;
    color: red;   
    float: right;
    margin-right: 50px; 
}



.headerTable{
	width: 100%;
    
}

#footer a:link {
    color: #5c6b7a;
}

/* visited link */
#footer a:visited {
    color: #2F4F4F;
}

/* mouse over link */
#footer a:hover {
    color: hotpink;
}

/* selected link */
#footer a:active {
    color: #5c6b7a;
}

.links{
	margin-top: 10px;
}


#blurredbackground {
    position: absolute;    /*matches #content position*/
    bottom: 72px; left: 72px;    /*matches #content position*/
    width: 300px;    /*matches #content width*/
    height: 100px;    /*matches #content height*/
    -webkit-filter: blur(10px);
    filter: blur(10px);
    z-index: -1;
}


#input-search{
	margin:100px;
	height: auto;
	width: 100%;
	width: auto;
	text-size: auto;
	height: 100%;
	background-color: white;
	border:solid;
}





