body {
    background-color: #ADD8E6;
    overflow-x: hidden;
    overflow-y: auto;
    height:100%;
    width: 100%;
}

#wrapper {
   
   height: inherit;
   position: absolute;
   border: solid;
   border-color:yellow;
   width: 100%;
}


#header {
    background-color: #4682B4;
}

#container{
	width: 100%;
	height: inherit;
	background: red;
    border: solid;
    border-color: purple;
    padding-bottom: 100px;   /* Height of the footer */
}

#footer {

    background-color: #4682B4;
    bottom:0;
    position: static;
    height:100px;
    width: 100%;
    text-align: center;
    border: solid;
}

#logo {
	border: solid;
	align: left;
	height: 150px;
	width:	150px;
    color: red;
    margin-left: 20px; 
    background-image: url('../Images/logos/logo.png');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

#logo:hover{
	background-image: url('../Images/logos/logo_hover.png');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}


#register_login {
	
	border: solid;
	align: right;
	height: 100px;
	width:	150px;
    color: red;   
    float: right;
    margin-right: 50px; 
}



.headerTable{
	width: 100%;
    
}

#footer a:link {
    color: #5c6b7a;
}

/* visited link */
#footer a:visited {
    color: #2F4F4F;
}

/* mouse over link */
#footer a:hover {
    color: hotpink;
}

/* selected link */
#footer a:active {
    color: #5c6b7a;
}

.links{
	margin-top: 10px;
}



#input-search{
	margin:100px;
	height: auto;
	width: 100%;
	width: auto;
	text-size: auto;
	height: 100%;
	background-color: white;
	border:solid;
}



