body {
    background-color: #ADD8E6;
    overflow-x: hidden;
    overflow-y: auto;
    height: 100%;
    width: 100%;
    font-family: sans-serif;
}

#wrapper {
	margin: 0px auto;
	height: 100%;
	overflow-x: hidden;
	overflow-y: auto;
	position:  relative;
	width: 100%;
}


#header {
    background-color: #4682B4;
    box-shadow: inset 0 0 30px black;
}

#container{
	width: 100%;
	height: inherit;
	background: url(../Images/background-image.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	overflow-y: auto;
	overflow-x: hidden;
    padding-bottom: 100px;   /* Height of the footer */
}

#footer {
    background-color: #4682B4;
    top:0;
    bottom:0;
    height:100px;
    overflow-y: auto;
    overflow-x: hidden;
    width: 100%;
    text-align: center;
    box-shadow: inset 0 0 30px black;
}

#logo {
	align: left;
	height: 150px;
	width:	150px;
    margin-left: 20px; 
    background-image: url('../Images/logos/logo.png');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

#logo:hover{
	background-image: url('../Images/logos/logo_hover.png');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}


#register_login {
	align: right;
	height: 100px;
	width:	150px;
    text-size: auto;
    float: right;
    margin-right: 50px; 
}

#register_login a:link{
	color: white;
}

#register_login a:visited {
    color: #2F4F4F;
}

#register_login a:hover {
    background: white;
    color: black;
}

#register_login a:active {
    color: #5c6b7a;
}


.headerTable{
	width: 100%;
    
}

#footer a:link {
    color: #2F4F4F;
}

/* visited link */
#footer a:visited {
    color: #2F4F4F;
}

/* mouse over link */
#footer a:hover {
    color: hotpink;
}

/* selected link */
#footer a:active {
    color: #5c6b7a;
}

.links{
	margin-top: 10px;
}



#input-search{
	box-shadow: 0 0 30px black;
	margin: 100px;
	min-height: 300px;
	min-width: 300px;
	height: auto;
	width: auto;
	text-size: auto;
	background-color: white;
}

.btn{
	background: black;
	color: white;
}



#popup{
	position: absolute;
    margin: 0;
    background: white;
    box-shadow: 0 0 30px black;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    padding: 30px;
}






